@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    --card: #ffffff;
    --card-foreground: #0f172a;
    --border: #e2e8f0;
    
    --primary: #2563EB;
    --success: #16A34A;
    --warning: #F59E0B;
    --danger: #DC2626;
  }
  
  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
    --card: #1e293b;
    --card-foreground: #f8fafc;
    --border: #334155;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-200;
  }
}
